# coding: utf-8

"""
    Phrase TMS API

    Welcome to Phrase's TMS API documentation.    Please visit our [help center](https://support.phrase.com/hc/en-us/sections/5709662083612) for more information about the APIs.    If you have any questions, please contact [Support](https://support.phrase.com/hc/requests/new).    Please, include the `User-Agent` header with the name of your application or project. It might be a good idea to include some sort of contact information as well, so that we can get in touch if necessary. Examples of excellent `User-Agent` headers:  > User-Agent: Example mobile app (example@phrase.com) <br/> User-Agent: ACME Inc Java 1.8 Client (http://acmeinc.com/contact)  # noqa: E501

    OpenAPI spec version: Latest
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from phrasetms_client.api_client import ApiClient


class GlossaryApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def activate_glossary(self, glossary_uid, **kwargs):  # noqa: E501
        """Activate/Deactivate glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.activate_glossary(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :param GlossaryActivationDto body:
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.activate_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
        else:
            (data) = self.activate_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
            return data

    def activate_glossary_with_http_info(self, glossary_uid, **kwargs):  # noqa: E501
        """Activate/Deactivate glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.activate_glossary_with_http_info(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :param GlossaryActivationDto body:
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['glossary_uid', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method activate_glossary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'glossary_uid' is set
        if ('glossary_uid' not in params or
                params['glossary_uid'] is None):
            raise ValueError("Missing the required parameter `glossary_uid` when calling `activate_glossary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'glossary_uid' in params:
            path_params['glossaryUid'] = params['glossary_uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api2/v1/glossaries/{glossaryUid}/activate', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlossaryDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_glossary(self, **kwargs):  # noqa: E501
        """Create glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_glossary(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GlossaryEditDto body:
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_glossary_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_glossary_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_glossary_with_http_info(self, **kwargs):  # noqa: E501
        """Create glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_glossary_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GlossaryEditDto body:
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_glossary" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api2/v1/glossaries', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlossaryDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_glossary(self, glossary_uid, **kwargs):  # noqa: E501
        """Delete glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_glossary(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :param bool purge: purge=false - the Glossary can later be restored,                     'purge=true - the Glossary is completely deleted and cannot be restored
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
            return data

    def delete_glossary_with_http_info(self, glossary_uid, **kwargs):  # noqa: E501
        """Delete glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_glossary_with_http_info(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :param bool purge: purge=false - the Glossary can later be restored,                     'purge=true - the Glossary is completely deleted and cannot be restored
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['glossary_uid', 'purge']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_glossary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'glossary_uid' is set
        if ('glossary_uid' not in params or
                params['glossary_uid'] is None):
            raise ValueError("Missing the required parameter `glossary_uid` when calling `delete_glossary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'glossary_uid' in params:
            path_params['glossaryUid'] = params['glossary_uid']  # noqa: E501

        query_params = []
        if 'purge' in params:
            query_params.append(('purge', params['purge']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api2/v1/glossaries/{glossaryUid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_glossary(self, glossary_uid, **kwargs):  # noqa: E501
        """Get glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_glossary(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
            return data

    def get_glossary_with_http_info(self, glossary_uid, **kwargs):  # noqa: E501
        """Get glossary  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_glossary_with_http_info(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['glossary_uid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_glossary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'glossary_uid' is set
        if ('glossary_uid' not in params or
                params['glossary_uid'] is None):
            raise ValueError("Missing the required parameter `glossary_uid` when calling `get_glossary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'glossary_uid' in params:
            path_params['glossaryUid'] = params['glossary_uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api2/v1/glossaries/{glossaryUid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlossaryDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def list_glossaries(self, **kwargs):  # noqa: E501
        """List glossaries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_glossaries(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name:
        :param list[str] lang: Language of the glossary
        :param int page_number: Page number, starting with 0, default 0
        :param int page_size: Page size, accepts values between 1 and 50, default 50
        :return: PageDtoGlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_glossaries_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_glossaries_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_glossaries_with_http_info(self, **kwargs):  # noqa: E501
        """List glossaries  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_glossaries_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name:
        :param list[str] lang: Language of the glossary
        :param int page_number: Page number, starting with 0, default 0
        :param int page_size: Page size, accepts values between 1 and 50, default 50
        :return: PageDtoGlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'lang', 'page_number', 'page_size']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_glossaries" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'name' in params:
            query_params.append(('name', params['name']))  # noqa: E501
        if 'lang' in params:
            query_params.append(('lang', params['lang']))  # noqa: E501
            collection_formats['lang'] = 'multi'  # noqa: E501
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api2/v1/glossaries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageDtoGlossaryDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_glossary(self, glossary_uid, **kwargs):  # noqa: E501
        """Edit glossary  # noqa: E501

        Languages can only be added, their removal is not supported  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_glossary(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :param GlossaryEditDto body:
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
        else:
            (data) = self.update_glossary_with_http_info(glossary_uid, **kwargs)  # noqa: E501
            return data

    def update_glossary_with_http_info(self, glossary_uid, **kwargs):  # noqa: E501
        """Edit glossary  # noqa: E501

        Languages can only be added, their removal is not supported  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_glossary_with_http_info(glossary_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str glossary_uid: (required)
        :param GlossaryEditDto body:
        :return: GlossaryDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['glossary_uid', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_glossary" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'glossary_uid' is set
        if ('glossary_uid' not in params or
                params['glossary_uid'] is None):
            raise ValueError("Missing the required parameter `glossary_uid` when calling `update_glossary`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'glossary_uid' in params:
            path_params['glossaryUid'] = params['glossary_uid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api2/v1/glossaries/{glossaryUid}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GlossaryDto',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
