# coding: utf-8

"""
    Phrase TMS API

    Welcome to Phrase's TMS API documentation.    Please visit our [help center](https://support.phrase.com/hc/en-us/sections/5709662083612) for more information about the APIs.    If you have any questions, please contact [Support](https://support.phrase.com/hc/requests/new).    Please, include the `User-Agent` header with the name of your application or project. It might be a good idea to include some sort of contact information as well, so that we can get in touch if necessary. Examples of excellent `User-Agent` headers:  > User-Agent: Example mobile app (example@phrase.com) <br/> User-Agent: ACME Inc Java 1.8 Client (http://acmeinc.com/contact)  # noqa: E501

    OpenAPI spec version: Latest
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from phrasetms_client.api_client import ApiClient


class QuoteApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_quote_v2(self, **kwargs) -> QuoteV2Dto:  # noqa: E501
        """Create quote  # noqa: E501

        Either WorkflowSettings or Units must be sent for billingUnit \"Hour\".  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_quote_v2(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuoteCreateV2Dto body:
        :return: QuoteV2Dto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.create_quote_v2_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_quote_v2_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_quote_v2_with_http_info(self, **kwargs) -> QuoteV2Dto:  # noqa: E501
        """Create quote  # noqa: E501

        Either WorkflowSettings or Units must be sent for billingUnit \"Hour\".  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_quote_v2_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param QuoteCreateV2Dto body:
        :return: QuoteV2Dto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["body"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_quote_v2" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if "body" in params:
            body_params = params["body"]
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/api2/v2/quotes",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="QuoteV2Dto",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def delete_quote(self, quote_uid, **kwargs) -> None:  # noqa: E501
        """Delete quote  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_quote(quote_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quote_uid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.delete_quote_with_http_info(quote_uid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_quote_with_http_info(quote_uid, **kwargs)  # noqa: E501
            return data

    def delete_quote_with_http_info(self, quote_uid, **kwargs) -> None:  # noqa: E501
        """Delete quote  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_quote_with_http_info(quote_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quote_uid: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["quote_uid"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_quote" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'quote_uid' is set
        if "quote_uid" not in params or params["quote_uid"] is None:
            raise ValueError(
                "Missing the required parameter `quote_uid` when calling `delete_quote`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "quote_uid" in params:
            path_params["quoteUid"] = params["quote_uid"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/api2/v1/quotes/{quoteUid}",
            "DELETE",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def email_quotes(self, **kwargs) -> EmailQuotesResponseDto:  # noqa: E501
        """Email quotes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.email_quotes(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EmailQuotesRequestDto body:
        :return: EmailQuotesResponseDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.email_quotes_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.email_quotes_with_http_info(**kwargs)  # noqa: E501
            return data

    def email_quotes_with_http_info(
        self, **kwargs
    ) -> EmailQuotesResponseDto:  # noqa: E501
        """Email quotes  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.email_quotes_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param EmailQuotesRequestDto body:
        :return: EmailQuotesResponseDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["body"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method email_quotes" % key
                )
            params[key] = val
        del params["kwargs"]

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if "body" in params:
            body_params = params["body"]
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # HTTP header `Content-Type`
        header_params[
            "Content-Type"
        ] = self.api_client.select_header_content_type(  # noqa: E501
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/api2/v1/quotes/email",
            "POST",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="EmailQuotesResponseDto",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )

    def get2(self, quote_uid, **kwargs) -> QuoteDto:  # noqa: E501
        """Get quote  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get2(quote_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quote_uid: (required)
        :return: QuoteDto
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs["_return_http_data_only"] = True
        if kwargs.get("async_req"):
            return self.get2_with_http_info(quote_uid, **kwargs)  # noqa: E501
        else:
            (data) = self.get2_with_http_info(quote_uid, **kwargs)  # noqa: E501
            return data

    def get2_with_http_info(self, quote_uid, **kwargs) -> QuoteDto:  # noqa: E501
        """Get quote  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get2_with_http_info(quote_uid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str quote_uid: (required)
        :return: QuoteDto
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ["quote_uid"]  # noqa: E501
        all_params.append("async_req")
        all_params.append("_return_http_data_only")
        all_params.append("_preload_content")
        all_params.append("_request_timeout")

        params = locals()
        for key, val in six.iteritems(params["kwargs"]):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'" " to method get2" % key
                )
            params[key] = val
        del params["kwargs"]
        # verify the required parameter 'quote_uid' is set
        if "quote_uid" not in params or params["quote_uid"] is None:
            raise ValueError(
                "Missing the required parameter `quote_uid` when calling `get2`"
            )  # noqa: E501

        collection_formats = {}

        path_params = {}
        if "quote_uid" in params:
            path_params["quoteUid"] = params["quote_uid"]  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params["Accept"] = self.api_client.select_header_accept(
            ["application/json"]
        )  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            "/api2/v1/quotes/{quoteUid}",
            "GET",
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type="QuoteDto",  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get("async_req"),
            _return_http_data_only=params.get("_return_http_data_only"),
            _preload_content=params.get("_preload_content", True),
            _request_timeout=params.get("_request_timeout"),
            collection_formats=collection_formats,
        )
